<!DOCTYPE html>
<html>
<head>
<title>JobFinder Portal</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="navbar">
<div class="logo">JobFinder</div>

<nav>
<a href="/">Home</a>
<a href="/resume">Resume</a>
<a href="/upload">Upload Resume</a>
<a href="/login">Login</a>
<a href="/register">Register</a>
</nav>
</header>

{% block content %}{% endblock %}

<footer>
<p>© 2026 JobFinder Portal</p>
</footer>

</body>
</html>
