{% extends "base.html" %}

{% block content %}

<div class="resume">

<h1>RESUME</h1>

<p><b>Name:</b> Reddi Ramya Sri</p>
<p><b>Address:</b> Natavaram Mandalam, M.B Patnam, Anakapalli District</p>
<p><b>Phone:</b> 7989320967</p>
<p><b>Email:</b> reddyramayyasri@gmail.com</p>

<h3>Career Objective</h3>
<p>Motivated computer science graduate seeking entry-level IT position.</p>

<h3>Technical Skills</h3>
<ul>
<li>Java</li>
<li>HTML, CSS</li>
<li>Basic Computer Applications</li>
</ul>

<h3>Strengths</h3>
<ul>
<li>Quick learner</li>
<li>Good communication</li>
<li>Problem solving</li>
</ul>

</div>

{% endblock %}
