{% extends "base.html" %}

{% block content %}

<div class="resume">

<h1>RESUME</h1>

<p><b>Name:</b> Reddi Ramya Sri</p>
<p><b>Address:</b> Natavaram Mandalam, M.B Patnam</p>
<p>Anakapalli District, Andhra Pradesh</p>

<p><b>Phone:</b> 7989320967</p>
<p><b>Email:</b> reddyramayyasri@gmail.com</p>

<h3>Career Objective</h3>

<p>
Motivated and enthusiastic computer science graduate seeking an entry-level IT position where I can utilize my skills in Java, HTML and CSS.
</p>

<h3>Technical Skills</h3>

<ul>
<li>Java</li>
<li>HTML CSS</li>
<li>Basic computer applications</li>
</ul>

<h3>Strengths</h3>

<ul>
<li>Quick learner</li>
<li>Good communication</li>
<li>Problem solving approach</li>
<li>Positive attitude</li>
</ul>

<h3>Personal Details</h3>

<p>Languages: Telugu, English</p>
<p>Nationality: Indian</p>

</div>

{% endblock %}